{% extends 'soundboard/base.html' %}
      {% block content %}
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <p style="width:50%;margin: 0 auto;">Create Your Login Or Sign Up!</p>
      </header>

      <!-- Page Features -->
      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <form method="post" action="/login/">
                <h4 class="card-title">
                  <a href="#">Log In!</a>
                </h4>
                {% csrf_token %}
                {{ authentication_form.as_p }}
                <button type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <form method="post" action="/signup/">
                <h4 class="card-title">
                  <a href="#">Sign Up!</a>
                </h4>
                <p class="card-text">To sign up, please provide an email, desired username, and password.</p>
                {% csrf_token %}
                {{ user_creation_form.as_p }}
                <button type="submit">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      {% endblock %}
