{% extends 'soundboard/base.html' %}
{% block content %}
<script src="https://unpkg.com/vue"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script type="application/json" id="existing-sounds">{{existing_sounds|safe}}</script>

{% verbatim %}
<div id="app">
	<div class="form-group">
		<label for="nameInput">Name</label>
		<input v-model="name" type="text" class="form-control" id="nameInput" placeholder="soundboard name goes riiiight here">
	</div>
  <div class="row text-center">
    <div class="col-lg-2 col-md-2 mb-4" v-for="(sound, index) in sounds">
      <div class="card">
        <a class="thumbnail" v-on:click="picClick(sound)">
          <img class="card-img-top" v-bind:src="sound.image_file">
          <p class="card-text">{{ sound.text }}</p>
        </a>
        <div class="card-footer text-muted">
          <b-btn v-if="index !== 0" v-on:click="moveSound(index, -1)">&laquo;</b-btn>
          <b-btn v-on:click="removeSound(index)">&times;</b-btn>
          <b-btn v-if="index !== (sounds.length - 1)" v-on:click="moveSound(index, 1)">&raquo;</b-btn>
        </div>
      </div>
    </div>
  </div>
	<div>
		<b-btn v-b-modal.uploader>Add Sound</b-btn>
	</div>

  <b-modal id="uploader" title="Upload New Sound">
    <b-form @submit="onNewSoundFormSubmit">
      <b-form-group id="soundNameGroup"
                    label="Sound Name:" label-for="soundNameInput">
        <b-form-input id="soundNameInput"
                      type="text" v-model="newSoundForm.name" required placeholder="My Sound">
        </b-form-input>
      </b-form-group>
      <b-form-group id="soundTextInputGroup"
                    label="Sound Input:" label-for="soundTextInput">
        <b-form-input id="soundTextInput"
                      type="text" v-model="newSoundForm.text" required placeholder="My Sound's Text">
        </b-form-input>
      </b-form-group>
      <b-form-group id="soundImageInputGroup"
                    label="Sound Image:" label-for="soundImageInput">
        <b-form-file id="soundImageInput"
                     v-model="newSoundForm.imageFile"
                     accept="image/*"
                     ref="soundImageInput">
        </b-form-input>
      </b-form-group>
      <b-form-group id="soundSoundInputGroup"
                    label="Sound Sound:" label-for="soundSoundInput">
        <b-form-file id="soundSoundInput"
                     v-model="newSoundForm.soundFile" required
                     accept="audio/*"
                     ref="soundSoundInput">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary" :disabled="newSoundForm.isUploading">Submit</b-button>
    </b-form>
    <hr>
    <h2>Add Existing Sound</h2>
    <div class="row text-center">
      <div class="col-lg-3 col-md-3 mb-4" v-for="sound in soundLibrary">
        <div class="card">
          <a class="thumbnail" v-on:click="picClick(sound)">
            <img class="card-img-top" v-bind:src="sound.image_file">
            <p class="card-text">{{ sound.text }}</p>
          </a>
          <div class="card-footer text-muted">
            <b-btn v-on:click="addExistingSound(sound)">+</b-btn>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</div>
{% endverbatim %}
<p>New Board!</p>
{% csrf_token %}
<script src="/static/soundboard/js/new_board.js"></script>
{% endblock %}
